:root {
    --color1: #172a3a;
    --color1a: #293c4c;
    --color2: #4a98f7;
    --color3: #65b1fc;
    --color4: #64e1dc;
    --color5: #96ebe6;
    --color6: #FFFFFF;
    --color7: #636978;
}

html {
    font-family: 'Roboto Mono'; /*'Inter', sans-serif;*/
    font-size: 18px;
}

body {
    max-width: 700px;
    margin: 20px auto 20px auto;
    border: 2px solid var(--color2);
    padding: 5px 5% 5px 5%;
    /* box-shadow: 5px 5px var(--border-color); */
    color: var(--color6);
    background-color: var(--color1);
    line-height: 2;
}

h1, h2 {
    color: var(--color3);
}

h3, h4 {
    color: var(--color4);
}

.plain a {
    text-decoration: none;
    color: var(--color5);
}

a {
    text-decoration: underline;
    color: var(--color5);
}

.art {
    font-size: 11px;
    white-space: pre;
    line-height: 12px;
    color: #fff789;
}

code {
    border-radius: 5px;
    padding: 7px;
    margin: 3px;
    background-color: var(--color1a);
    color: var(--color6);
    white-space: pre-wrap;
}